# Server Port & Environment
PORT=5000
NODE_ENV=development

# NeonDB PostgreSQL Database Connection URL
# Example: postgresql://<user>:<password>@ep-rapid-sound-123456.us-east-2.aws.neon.tech/botbari_db?sslmode=require
DATABASE_URL="postgresql://username:password@ep-sample-pooler.us-east-2.aws.neon.tech/botbari_db?sslmode=require"

# JWT Authentication Secret & Token Expiration
JWT_SECRET="botbari_super_secure_enterprise_jwt_secret_key_2026"
JWT_EXPIRES_IN="7d"

# Stripe Payment Gateway Secret Key
STRIPE_SECRET_KEY="your_stripe_secret_key_here"

# Allowed CORS Origins
CLIENT_URL="http://localhost:5173"
ADMIN_URL="http://localhost:3000"